QPushButton {
    border: none;
    border-radius: 16px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #3498db, stop: 1 #2980b9);
    color: #ffffff;
    padding: 19px 20px 19px 20px;
    text-decoration: none;
    font-family: Arial;
    font-size: 27px;
}

QPushButton#startButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #3cb0fd, stop: 1 #3498db);
}

QPushButton#verifyPushButton2 {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #db3230, stop: 1 #b92f23);
}

QPushButton#cancelPushButton3 {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #78db6a, stop: 1 #45b93e);
}

QStackedWidget#stackedWidget,
QGroupBox#discountGroupBox QFrame,
QGroupBox#productInfoGroupBox,
QMainWindow,
QWidget#scanGoodWidget,
QFrame#frame_11 {
    background-color: white;
}

QFrame#frame_11 {
    border: solid 1px dimgray;
}

QStackedWidget#buttonsStackedWidget QPushButton {
    padding: 5px 20px 5px 20px;
}

QGroupBox#discountGroupBox QPushButton,
QGroupBox#discountGroupBox QPushButton:flat,
QGroupBox#discountGroupBox QPushButton:pressed,
QGroupBox#discountGroupBox QPushButton:checked,
QPushButton#proceedPushButton,
QPushButton#proceedPushButton:flat,
QPushButton#proceedPushButton:pressed,
QPushButton#proceedPushButton:checked,
QWidget#page_2{
    background-color: transparent;
    border: none;
}
